<div class="row">
  <div class="col s12">
      <h4>INN</h4>
  </div>
</div>

<div class="row">
  <div class="col">
      <table>
        <thead>
          <tr>
              <th>Value</th>
              <%= if @current_user.is_admin do %>
                <th>User IP</th>
              <% end %>
              <th>Actions</th>
          </tr>
        </thead>

        <tbody>
        <%= for inn <- @inn_list do %>
          <tr>
            <td> <%=  inn.value %></td>
            <%= if @current_user.is_admin do %>  
              <td><%=  inn.user_ip%></td>
            <% end %>
            <td><%= link "Delete", to: operator_path(@conn, :delete, inn), method: :delete %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
  </div>
   <%= if @current_user.is_admin do %>
  <div class="col s6">
    <%= form_for @conn, operator_path(@conn, :block_ip), fn f ->%>
      <div class="form-group">
        <%= text_input f, :ip, placeholder: "User ip"%>
        <%= number_input f, :seconds, placeholder: "Blocked time (sec)"%>
        <%= submit "Block IP", class: "btn btn-primary"%>
      </div>
    <% end %>
  </div>
      <% end %>

</div>